<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>
        angular 绑定策略的三种形式： @、=、&
    </title>
    <style>
        .red-font {
            color: red;
        }
        .blue-font {
            color: blue;
        }
        .green-font {
            color: green;
        }
        .pink-font {
            color: pink;
        }
    </style>
</head>
<body>
<!--
1.@
运行结果可想而知，{{ name }}成功地与父控制器中的Name绑定起来了。当然这里也可以这样写name:'@'
这样写的话，就默认DOM中的属性名为name了意即 for-name="{{ Name }}"可简写为name="{{ Name }}";
其实，另外两个符号=和&也有这样的简写规则，方便起见接下来都使用这种写法。
-->
    <div ng-controller="nameController">
        <div direct for-name="{{Name}}"></div>
    </div>

<!--
2.=
@到此为止，接下来就是'='了。=与@的不同点在于，@是针对字符串（准确来说是表达式expression）而用，
但=是针对某个对象的引用；
这么说可能不太专业，但就拿上边的例子而言，我们在html中，把Name这个字符串通过一对双花括号传递给for-name
属性，但如果我们用了=，这里传入的Name就不应该是一个字符串，而是一个对象的引用。这不是一个很一目了然的概
念，所以我用接下来的两个例子诠释它的含义。
结果就是，一个张三，一个李四。这个例子中，data是一个对象数组，里面包含了两个对象，所以，我们分别把两个对
象传递给了case这个属性，case属性就把这个对象的引用传递给了模板中我们写的{{ case.name }}中的case;而如
果你在=后边加上了自己定义的名字，那只要把html里case属性换成那个名字就可以了。
-->
    <div ng-controller="nameController2">
        <div direct2 case="person[0]"></div>
        <div direct2 case="person[1]"></div>
    </div>

<!--
    绑定策略=  经典的双向输入框
    按照Angular的入门案例，创建两个双向绑定的输入框，最简单的实现方式就是：
    <input ng-model="test"/>
    <input ng-model="test"/>
    使用ng-model指令就可以做到了。接着，我们在自己的指令中实现这个效果。


    注意到，这两个例子(nameController2 and nameController3)中，都是使用[对象的引用]，
    而不是单纯的字符串，这也是=可以进行双向绑定的关键。
-->

    <div ng-controller="nameController3">
        父级scope中：
        <input type="text" ng-model="mark"/>
        <div direct3 model="mark"></div>
    </div>


<!--
    最后是&符号。它的含义是：对父级作用域进行绑定，并将其中的属性包装成一个函数，注意，是属性，
    意即，任何类型的属性都会被包装成一个函数，比如一个单纯的字符串，或是一个对象数组，或是一个
    函数方法。

    无参情况
    这个例子有几个注意点：

    1.指令的本地属性（即模板里花括号中的属性）需要从本地取值，所以使用了controller选项，而在controller
    选项中，两个无参方法分别返回了父级scope中的title字符串和contents对象数组。
    2.在HTML中，我们把设置了get-title和get-content的属性值为title和contents，这实际上就完成了与父级
    scope的绑定，因为我们才可以从那儿取得实质的内容。

-->
    <div ng-controller="nameController4">
        <div direct4 get-title="title" get-content="contents"></div>
    </div>

<!--
    有参情况
-->
    <div ng-controller="nameController5">
        <div direct5 show="showName(name)"></div>
    </div>


    <script src="angular.min.js"></script>
    <script>
        angular.module('myApp',[])
                .directive('direct',function(){
                    return {
                        restrict:'ECMA',
                        replace: true,
                        scope:{
                            name:'@forName'
                        },
                        template: '<div class="red-font">绑定策略@   {{name}}</div>'
                    };
                })
                .controller('nameController',function($scope){
                    $scope.Name = '张三';
                })
                .directive('direct2',function(){
                    return {
                        restrict:'ECMA',
                        replace: true,
                        scope:{
                            case:'='
                        },
                        template: '<div class="blue-font">绑定策略=    {{case.name}}</div>'
                    };
                })
                .controller('nameController2', function($scope){
                    $scope.person = [{name:'张三'},{name:'李四'}];
                })
                .directive('direct3', function(){
                    return {
                        restrict:'ECMA',
                        replace:true,
                        scope:{
                            model:'='
                        },
                        template:'<div class="green-font">绑定策略=  <input ng-model="model"/></div>'
                    };
                })
                .controller('nameController3', function($scope){
                    $scope.data = [{name:'张三'},{name:'李四'}];
                })
                .directive('direct4', function(){
                    return {
                        restrict:'ECMA',
                        replace: true,
                        scope:{
                            getTitle:'&',
                            getContent:'&'
                        },
                        template:'<div class="pink-font">' +
                        '<div class="title">{{title}}</div>' +
                        '<div><ul><li ng-repeat="x in contents">{{x.text}}</li></ul></div>' +
                        '</div>',
                        controller:function($scope){
                            $scope.title = $scope.getTitle(); //调用无参函数
                            $scope.contents = $scope.getContent();//调用无参函数
                        }
                    };
                })
                .controller('nameController4', function($scope){
                    $scope.title = '标题';
                    $scope.contents = [{text:'1234'},{text:'5678'}];
                })
                .directive('direct5', function(){
                    return {
                        restrict:'ECMA',
                        replace:true,
                        scope:{
                            show:'&'
                        },
                        template:'<div><div><input type="text" ng-model="model"/></div><div><button ng-click="show({name:model})">show</button></div></div>'
                                //模板字符串中含有多个dom元素，或者只由一个单独的文本节点构成，
                                // 那他必须被包含在一个父元素里，即必须存在一个根dom元素
                    };
                })
                .controller('nameController5', function($scope){
                    $scope.showName = function(name){
                        alert(name);
                    };
                });
    </script>

</body>
</html>