<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>
        ng-form用来在一个表单内嵌套另一个表单， 普通的html <form></form>标签不允许嵌套，
        但是ng-form可以
    </title>
    <style>
        .has-error {
            color: red;
        }
    </style>
</head>
<body>
<form action=""
        name="signup_form"
        ng-controller="formController"
        ng-submit="submitForm()" novalidate>
    <div ng-repeat="field in fields"
            ng-form="signup_form_input">
        <input type="text"
                name="dynamic_input"
                ng-required="field.isRequired"
               ng-minlength="3"
               ng-maxlength="20"
                ng-model="field.name"
                placeholder="{{field.placeholder}}"/>
        <div class="has-error" ng-messages="signup_form_input.dynamic_input.$error">
            <div ng-messages-multiple ng-messages-include="templates/errors.html"></div>
        </div>
    </div>



    <button type="submit"
            ng-disabled="signup_form.$invalid">submit all</button>
</form>

<script src="angular.min.js"></script>
<script src="angular-messages.min.js"></script>
<script>
    angular.module('myApp',['ngMessages'])
            .controller('formController', function($scope){
                $scope.fields = [
                    {placeholder:'username', isRequired: true},
                    {placeholder:'password', isRequired:true},
                    {placeholder:'email(optional)', isRequired:false}
                ];
                $scope.submitForm = function(){
                    alert('it works!');
                };
            });
</script>
</body>
</html>